@use '../abstracts/' as *;

.cta-btn {
  display: inline-block;
  width: 100%;
  background-color: var(--clr-tertiary);
  color: var(--clr-primary);
  margin-bottom: var(--section-spacing);
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.2s ease-in;

  @include respond(sm) {
    width: 35%;
    display: block;
    margin: 5rem auto;
  }

  @include respond(md) {
    width: 70%;
  }

  &:active {
    transform: translateY(1px);
    color: var(--clr-primary);
  }

  &:focus {
    color: var(--clr-primary);
  }

  &:hover {
    background-color: rgba(7, 148, 141);
    color: var(--clr-primary);
  }
}
