@use '../abstracts/' as *;

.cta-btn {
  display: inline-block;
  width: 100%;
  background-color: var(--clr-tertiary);
  color: var(--clr-primary);
  margin-bottom: var(--section-spacing);
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease-in;

  @include respond(sm) {
    display: block;
    width: 35%;
    margin: 5rem auto;
  }

  @include respond(md) {
    width: 70%;
  }

  &:active {
    transform: translateY(1px);
    color: var(--clr-primary);
  }

  &:focus {
    color: var(--clr-primary);
  }

  &:hover {
    background-color: hsl(177, 91%, 30%);
    color: var(--clr-primary);
  }
}
