@use '../abstracts/' as *;

header {
  @include position($pos: absolute, $top: 0, $left: 0);
  width: 100%;
  z-index: 800;
}

.nav {
  @include flex-config($align: center, $justify: space-between);
  color: var(--clr-primary);
  padding: 1rem;

  @include respond(sm) {
    padding: 2rem;
  }

  @include respond(lg) {
    padding: 2rem 10rem;
  }

  &__logo {
    position: relative;
    font-size: clamp(2rem, 5vw, 3rem);
    font-style: italic;
    letter-spacing: 0.2rem;

    &::after {
      @include pseudo($top: 0, $right: -4rem);
      height: 100%;
      border: 1px solid var(--clr-primary);

      @include respond(sm) {
        right: -3rem;
      }
    }

    &:hover {
      color: #fff;
    }
  }

  &__secondary-logo {
    margin-left: 3rem;

    &--top {
      font-size: clamp(1.3rem, 2vw, 1.6rem);
    }

    &--bottom {
      font-weight: 600;
    }
  }

  &--order {
    background-color: var(--clr-secondary);
  }
}

.logo-wrapper {
  @include flex-config($justify: space-around, $align: center);
  width: 100%;

  @include respond(sm) {
    width: auto;
  }
}

.dark-mode-icon {
  @include position($pos: absolute, $top: 8rem, $left: 8%);
  color: var(--clr-gray-light);
  text-align: center;

  @include respond(sm) {
    position: static;
  }

  @include respond(md) {
    margin-left: 10rem;
  }

  @include respond(lg) {
    margin-left: 5rem;
  }

  &__icon {
    font-size: 1.5rem;
    cursor: pointer;

    @include respond(sm) {
      margin-top: 1.5rem;
    }

    @include respond(lg) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 0.8rem;
    margin-top: 0.5rem;

    @include respond(lg) {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }

  &--order {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
  }
}

.video-controls {
  @include position($pos: absolute, $top: 8rem, $left: 10rem);
  @include flex-config($justify: space-between);
  margin: 0, auto;
  color: var(--clr-gray-light);

  @include respond(sm) {
    position: static;
  }

  &__icon {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;

    @include respond(md) {
      display: block;
    }

    &:not(:first-of-type) {
      margin-left: 3rem;
    }

    @include respond(lg) {
      font-size: 3rem;
    }
  }
}

.social-media-icons {
  @include position($pos: absolute, $top: 8rem, $right: 9%);
  color: var(--clr-gray-light);

  @include respond(sm) {
    position: static;
  }

  @include respond(lg) {
    @include position($pos: absolute, $top: 30rem, $right: 13rem);
    @include flex-config($direction: column);
  }

  &__icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;

    @include respond(lg) {
      font-size: 3rem;
    }

    &:not(:first-child) {
      margin-left: 2rem;

      @include respond(lg) {
        margin: 3rem 0 0 0;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &--order {
    right: 2rem;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

    @include respond(lg) {
      right: 11.5rem;
    }
  }
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include respond(md) {
    background-image: none;
  }

  &__video {
    display: none;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;

    @include respond(md) {
      display: block;
    }
  }
}

.hero-text {
  @include position($pos: relative, $top: 0, $left: 0);
  @include flex-config($direction: column, $justify: center);
  width: 100%;
  height: 100%;
  color: var(--clr-primary);
  padding: 3rem;
  z-index: 400;

  @include respond(md) {
    @include position($pos: absolute, $top: 0, $left: 0);
    width: 50%;
  }

  &::after {
    @include pseudo($top: 0, $left: 0, $bottom: 0, $right: 0);
    //Currently 87% on caniuse
    /* inset: 0; */
    min-height: 100vh;
    background-color: var(--hero-overlay);
    z-index: -1;
  }

  &__heading {
    padding-top: 15rem;
  }

  @include respond(lg) {
    width: 45%;
    padding: 2rem 10rem;
  }

  &__subheading {
    margin-top: 0.5rem;
  }

  &__paragraph {
    margin-top: 1rem;

    @include respond(lg) {
      margin-top: 3rem;
    }
  }

  &__cta-btn {
    margin: 8rem 0;
    align-self: flex-start;
    background-color: rgb(10, 120, 113, 0.5);

    @include respond(sm) {
      margin: 5rem 0;
    }

    &:hover {
      background-color: var(--clr-tertiary);
    }

    @include respond(lg) {
      display: block;
      width: 50%;
    }
  }
}

.arrow {
  display: inline-block;
  width: 100%;
  text-align: center;

  @include respond(md) {
    width: 85vw;
    margin-top: 5rem;
  }

  &__icon {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: translateY(0.5rem);
      color: var(--clr-primary);
    }

    @include respond(lg) {
      font-size: 4rem;
    }
  }
}
