@use '../abstracts/' as *;

header {
  @include position($pos: absolute, $top: 0, $left: 0);
  width: 100%;
  z-index: 800;
}

.nav {
  @include flex-config($align: center, $justify: space-between);
  color: var(--clr-primary);
  padding: 1rem;

  @include respond(sm) {
    padding: 2rem;
  }

  @include respond(lg) {
    padding: 2rem 10rem;
  }

  &__logo {
    position: relative;
    font-size: clamp(2rem, 5vw, 3rem);
    font-style: italic;
    letter-spacing: 0.2rem;

    &::after {
      @include pseudo($top: 0, $right: -3rem);
      height: 100%;
      border: 1px solid var(--clr-primary);
    }
  }

  &__secondary-logo {
    margin-left: 3rem;

    &--top {
      font-size: clamp(1.3rem, 2vw, 1.6rem);
    }

    &--bottom {
      font-weight: 600;
    }
  }

  &--order {
    background-color: var(--clr-secondary);
  }
}

.logo-wrapper {
  @include flex-config($justify: space-around, $align: center);
  width: 100%;

  @include respond(sm) {
    width: auto;
  }
}

.dark-mode-icon {
  @include position($pos: absolute, $top: 6rem, $left: 2rem);
  color: var(--clr-gray-light);
  text-align: center;

  @include respond(sm) {
    position: static;
  }

  &__icon {
    font-size: 1.5rem;

    @include respond(sm) {
      margin-top: 1.5rem;
    }

    @include respond(lg) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 0.8rem;
    margin-top: 0.5rem;

    @include respond(lg) {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }

  &--order {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
  }
}

.video-controls {
  @include position($pos: absolute, $top: 6rem, $left: 10rem);
  @include flex-config($justify: space-between);
  margin: 0, auto;
  color: var(--clr-gray-light);

  @include respond(sm) {
    position: static;
  }

  &__icon {
    font-size: 1.5rem;
    display: none;

    @include respond(md) {
      display: block;
    }

    &:not(:first-of-type) {
      margin-left: 3rem;
    }

    @include respond(lg) {
      font-size: 3rem;
    }
  }
}

.social-media-icons {
  @include position($pos: absolute, $top: 7rem, $right: 4rem);
  color: var(--clr-gray-light);

  @include respond(sm) {
    position: static;
  }

  @include respond(lg) {
    @include position($pos: absolute, $top: 30rem, $right: 13rem);
    @include flex-config($direction: column);
  }

  &__icon {
    font-size: 1.5rem;

    @include respond(lg) {
      font-size: 3rem;
    }

    &:not(:first-child) {
      margin-left: 2rem;

      @include respond(lg) {
        margin: 3rem 0 0 0;
      }
    }
  }

  &--order {
    right: 2rem;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 1rem;

    @include respond(lg) {
      right: 11.5rem;
    }
  }
}
