:root {
  /*=============================COLORS==================================*/

  --clr-primary: #f8f8f8;
  --clr-secondary: #141414;
  --clr-tertiary: #0a7871;

  --clr-gray-light: #d4d4d4;
  --clr-link-hvr: #1f7ffd;

  /*=============================SPACINGS==================================*/
  --section-spacing: 5rem;
}
