@use '../abstracts/' as *;

:root {
  /*=============================COLORS==================================*/

  --clr-primary: #f8f8f8;
  --clr-secondary: #141414;
  --clr-tertiary: #0a7871;
  --clr-gray-light: #d4d4d4;
  --clr-dark-mode: #121212;
  --clr-link-hvr: #1f7ffd;
  --clr-hero-overlay: rgba(3, 3, 3, 0.5);
  --clr-hero-overlay-dark: rgba(3, 3, 3, 0.7);

  --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --box-shadow-light: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;

  /*=============================SPACINGS==================================*/
  --section-spacing: 5rem;

  @include respond(sm) {
    --section-spacing: 10rem;
  }

  --mobile-el-spacing: 3rem;
  --mobile-padding: 3rem;

  /*=============================DARK MODE==================================*/

  --foreground: var(--clr-secondary);
  --background: var(--clr-primary);

  --social-media-icons: var(--clr-secondary);
  --hero-overlay: var(--clr-hero-overlay);
  --box-shadow-darkmode: var(--box-shadow-light);
}
