@use '../abstracts/' as *;
@use '../utilities/' as *;

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include respond(md) {
    background-image: none;
  }

  &__heading {
    position: relative;
  }

  &__video {
    display: none;
    height: 100vh;
    object-fit: cover;
    width: 100%;

    @include respond(md) {
      display: block;
    }
  }
}

.hero-text {
  @include flex-config($direction: column, $justify: center);
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: var(--clr-primary);
  padding: 3rem;
  z-index: 400;

  @include respond(sm) {
    padding: 3rem 5rem;
  }

  @include respond(md) {
    @include position($pos: absolute, $top: 0, $left: 0);
    width: 50%;
  }

  &::after {
    @include pseudo;
    inset: 0;
    background-color: var(--hero-overlay);
    z-index: -1;
  }

  &__heading {
    padding-top: 10rem;
  }

  @include respond(lg) {
    width: 45%;
    padding: 2rem 10rem;
  }

  &__subheading {
    margin-top: 0.5rem;
  }

  &__paragraph {
    margin-top: 1rem;

    @include respond(lg) {
      margin-top: 3rem;
    }
  }

  &__cta-btn {
    margin: 5rem 0;
    align-self: flex-start;
    background-color: rgb(10, 120, 113, 0.5);

    &:hover {
      background-color: var(--clr-tertiary);
    }

    @include respond(lg) {
      display: block;
      width: 50%;
    }
  }

  .arrow {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 5rem;

    &__icon {
      font-size: 2rem;
      cursor: pointer;

      transition: 0.2s;

      &:hover {
        transform: translateY(0.5rem);
        color: var(--clr-primary);
      }

      @include respond(lg) {
        font-size: 4rem;
      }
    }
  }
}

.about-me {
  margin-top: var(--section-spacing);
  padding: var(--mobile-padding);
}

.about-me-wrapper {
  @include respond(md) {
    @include flex-config($justify: space-between, $align: center);
    margin-top: var(--section-spacing);
  }

  &__paragraph {
    @include respond(md) {
      width: 60%;
    }
  }
}

.about-img-container {
  position: relative;

  &::after {
    @include pseudo($top: -10%, $left: 9%);
    width: 70%;
    height: 120%;
    background: rgb(60, 44, 40);
    background: linear-gradient(
      90deg,
      rgba(60, 44, 40, 1) 0%,
      rgba(143, 67, 0, 1) 100%
    );
    border-radius: 50%;
    z-index: -1;

    @include respond(md) {
      top: 13%;
      width: 80%;
      height: 60%;
    }

    @include respond(lg) {
      top: 10%;
      height: 70%;
    }
  }

  @include respond(md) {
    width: 30%;
  }

  &__img {
    margin: calc(var(--section-spacing) + 5rem) auto;
    border-radius: 50%;
    width: 60%;

    @include respond(md) {
      margin: var(--section-spacing) auto;
    }

    /*  @include respond(md) {
      width: 100%;
    } */
  }
}

.about-books {
  margin-top: var(--section-spacing);
  padding: var(--mobile-padding);
}

.publications {
  margin-top: var(--section-spacing);
  padding: var(--mobile-padding);
}

.publications-wrapper {
  @include respond(md) {
    @include flex-config($justify: space-between);
    margin-top: var(--section-spacing);
  }

  &__paragraph {
    @include respond(md) {
      width: 60%;
      margin-top: 3rem;
    }
  }
}

.publications-video-wrapper {
  position: relative;
  margin: var(--section-spacing) 0;
  padding-bottom: 56.25%;
  overflow: hidden;

  &__video {
    @include position($pos: absolute, $top: 0, $left: 0);
    width: 100%;
    height: 100%;
  }

  @include respond(md) {
    display: none;
  }
}

.publications-img-wrapper {
  @include respond(md) {
    width: 30%;
  }

  &__img {
    margin: 2rem auto;
  }
}

.contact {
  margin: var(--section-spacing) auto;
  padding: var(--mobile-padding);
}

.contact-wrapper {
  @include flex-config($justify: end);
  position: relative;
  background-color: rgb(21, 91, 88, 0.2);
  padding: 1rem 0;

  @include respond(sm) {
    justify-content: center;
    padding: 5rem 0;
  }
}

.contact-box {
  @include position($pos: absolute, $top: -1rem, $left: 2rem);
  background-color: var(--clr-tertiary);
  color: var(--clr-primary);
  padding: 6rem 1rem;
  text-transform: uppercase;
}

.contact-social-icons {
  @include flex-config($direction: column);
  margin-right: 5rem;

  @include respond(sm) {
    @include flex-config($direction: row, $justify: space-around);
    width: 30%;
    margin: 0 0 0 10rem;
  }

  &__icon {
    font-size: 2rem;
    color: var(--social-media-icons);

    &:not(:first-of-type) {
      margin-top: 2rem;

      @include respond(sm) {
        margin-top: 0;
      }
    }
  }
}

.footer-copyright {
  &__text {
    font-size: 1rem;
  }
}
