@use '../abstracts/' as *;
@use '../utilities/' as *;

header {
  @include position($pos: absolute, $top: 0, $left: 0);
  width: 100%;
  z-index: 800;
}

.nav {
  @include flex-config($align: center, $justify: space-between);
  color: var(--clr-primary);
  padding: 1rem;

  @include respond(sm) {
    padding: 2rem;
  }

  @include respond(lg) {
    padding: 2rem 10rem;
  }

  &__logo {
    position: relative;
    font-size: clamp(2rem, 5vw, 3rem);
    font-style: italic;
    letter-spacing: 0.2rem;

    &::after {
      @include pseudo($top: 0, $right: -3rem);
      height: 100%;
      border: 1px solid var(--clr-primary);
    }
  }

  &__secondary-logo {
    margin-left: 3rem;

    &--top {
      font-size: clamp(1.3rem, 2vw, 1.6rem);
    }

    &--bottom {
      font-weight: 600;
    }
  }
}

.logo-wrapper {
  @include flex-config($justify: space-around, $align: center);
  width: 100%;

  @include respond(sm) {
    width: auto;
  }
}

.dark-mode-icon {
  @include position($pos: absolute, $top: 6rem, $left: 2rem);
  color: var(--clr-gray-light);
  text-align: center;

  @include respond(sm) {
    position: static;
  }

  &__icon {
    font-size: 1.5rem;

    @include respond(sm) {
      margin-top: 1.5rem;
    }

    @include respond(lg) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 0.8rem;
    margin-top: 0.5rem;

    @include respond(lg) {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

.video-controls {
  @include position($pos: absolute, $top: 6rem, $left: 10rem);
  @include flex-config($justify: space-between);
  margin: 0, auto;
  color: var(--clr-gray-light);

  @include respond(sm) {
    position: static;
  }

  &__icon {
    font-size: 1.5rem;
    display: none;

    @include respond(md) {
      display: block;
    }

    &:not(:first-of-type) {
      margin-left: 3rem;
    }

    @include respond(lg) {
      font-size: 3rem;
    }
  }
}

.social-media-icons {
  @include position($pos: absolute, $top: 7rem, $right: 4rem);
  color: var(--clr-gray-light);

  @include respond(sm) {
    position: static;
  }

  @include respond(lg) {
    @include position($pos: absolute, $top: 30rem, $right: 13rem);
    @include flex-config($direction: column);
  }

  &__icon {
    font-size: 1.5rem;

    @include respond(lg) {
      font-size: 3rem;
    }

    &:not(:first-child) {
      margin-left: 2rem;

      @include respond(lg) {
        margin: 3rem 0 0 0;
      }
    }
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include respond(md) {
    background-image: none;
  }

  &__heading {
    position: relative;
  }

  &__video {
    display: none;
    height: 100vh;
    object-fit: cover;
    width: 100%;

    @include respond(md) {
      display: block;
    }
  }
}

.hero-text {
  @include flex-config($direction: column, $justify: center);
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: var(--clr-primary);
  padding: 3rem;
  z-index: 400;

  @include respond(sm) {
    padding: 3rem 5rem;
  }

  @include respond(md) {
    @include position($pos: absolute, $top: 0, $left: 0);
    width: 50%;
  }

  &::after {
    @include pseudo;
    inset: 0;
    background-color: var(--hero-overlay);
    z-index: -1;
  }

  &__heading {
    padding-top: 10rem;
  }

  @include respond(lg) {
    width: 45%;
    padding: 2rem 10rem;
  }

  &__subheading {
    margin-top: 0.5rem;
  }

  &__paragraph {
    margin-top: 1rem;

    @include respond(lg) {
      margin-top: 3rem;
    }
  }

  &__cta-btn {
    margin: 5rem 0;
    align-self: flex-start;
    background-color: rgb(10, 120, 113, 0.5);

    &:hover {
      background-color: var(--clr-tertiary);
    }

    @include respond(lg) {
      display: block;
      width: 50%;
    }
  }

  .arrow {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 5rem;

    &__icon {
      font-size: 2rem;
      cursor: pointer;

      transition: 0.2s;

      &:hover {
        transform: translateY(0.5rem);
        color: var(--clr-primary);
      }

      @include respond(lg) {
        font-size: 4rem;
      }
    }
  }
}

.about-me {
  margin-top: var(--section-spacing);
  padding: var(--mobile-padding);
}

.about-me-wrapper {
  @include respond(md) {
    display: flex;
    justify-content: space-between;

    margin-top: var(--section-spacing);
  }

  &__img {
    margin: var(--mobile-el-spacing) auto;

    @include respond(md) {
      width: 30%;
    }
  }

  &__paragraph {
    @include respond(md) {
      width: 60%;
    }
  }
}

.about-books {
  margin-top: var(--section-spacing);
  padding: var(--mobile-padding);
}

.publications {
  margin-top: var(--section-spacing);
  padding: var(--mobile-padding);
}

.publications-wrapper {
  @include respond(md) {
    display: flex;
    justify-content: space-between;

    margin-top: var(--section-spacing);
  }

  &__paragraph {
    @include respond(md) {
      width: 60%;
      margin-top: 3rem;
    }
  }
}

.publications-img-wrapper {
  @include respond(md) {
    width: 30%;
  }
}

.contact {
  margin: var(--section-spacing) auto;
  padding: var(--mobile-padding);
}

.contact-wrapper {
  @include flex-config($justify: end);
  position: relative;
  background-color: rgb(21, 91, 88, 0.2);
  padding: 1rem 0;

  @include respond(sm) {
    justify-content: center;
    padding: 5rem 0;
  }
}

.contact-box {
  @include position($pos: absolute, $top: -1rem, $left: 2rem);
  background-color: var(--clr-tertiary);
  color: var(--clr-primary);
  padding: 6rem 1rem;
  text-transform: uppercase;
}

.contact-social-icons {
  @include flex-config($direction: column);
  margin-right: 5rem;

  @include respond(sm) {
    @include flex-config($direction: row, $justify: space-around);
    width: 30%;
    margin: 0 0 0 10rem;
  }

  &__icon {
    font-size: 2rem;
    color: var(--social-media-icons);

    &:not(:first-of-type) {
      margin-top: 2rem;

      @include respond(sm) {
        margin-top: 0;
      }
    }
  }
}

.footer-copyright {
  &__text {
    font-size: 1rem;
  }
}
