@use '../abstracts/' as *;

.order {
  @include flex-config($direction: column, $align: center);
  padding: var(--mobile-padding);
  margin: calc(var(--section-spacing) + 10rem) 0;

  &__img {
    width: 20rem;
    margin: var(--section-spacing) auto;
  }

  &__tertiary-heading {
    margin: calc(var(--section-spacing) - 4rem) 0;

    @include respond(sm) {
      margin: calc(var(--section-spacing) - 8rem) 0;
    }
  }
}
